//doctype html
//html
//  head
//    title Day 2 Pokeball
//
//  body
//      h1 Day 2 Pokeball
.container
  .circle-container
    .background-grass
      - var blades = 0
      while blades < 14
        - blades++
        .background-blade
    .middle-grass
      - var blades = 0
      while blades < 15
        - blades++
        .middle-blade
    .foreground-grass
      - var blades = 0
      while blades < 18
        - blades++
        .foreground-blade
    .center.pokeball.animate
      .pokeball-button
      .pokeball-ring
      .pokeball-shine
      .pokeball-shine-small
    .stars1
    .stars2    
    .stars3
    .shooting-stars