.block__container.block__container--circle
  .block-pokeball__grass-back
    - var blades = 0
    while blades < 14
      - blades++
      .block-pokeball__grass-back-blade
  .block-pokeball__grass-middle
    - var blades = 0
    while blades < 15
      - blades++
      .block-pokeball__grass-middle-blade
  .block-pokeball__grass-front
    - var blades = 0
    while blades < 18
      - blades++
      .block-pokeball__grass-front-blade
  .relative-center.block-pokeball.animate
    .block-pokeball__button
    .block-pokeball__ring
    .block-pokeball__shine
    .pblock-pokeball__shine-small
  .stars1
  .stars2    
  .stars3
  .shooting-stars