/* Color */
$grey-light: #e3e3e3;
$white: #fff;

/* Gradients */

$start-color: #da22ff;
$end-color: #9733ee;

/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

/* Mixins */

// text gradient
@mixin text-gradient($start-color,
$end-color) {
  // fallback text color
  color: $start-color;
  // creates clipping mask with text
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  // creates an image mask using bg gradients
  background-image: -webkit-linear-gradient(to top, $start-color, $end-color);
  background-image: -moz-linear-gradient(to top, $start-color, $end-color);
  background-image: -ms-linear-gradient(to top, $start-color, $end-color);
  background-image: -o-linear-gradient(to top, $start-color, $end-color);
  background-image: linear-gradient(to top, $start-color, $end-color);
}

@mixin text-background($img-path) {
  background: url($img-path) center;
  background-size: contain;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

// rotate hand
@mixin rotate-hand($angle) {
  -webkit-transform: rotate($angle);
  -moz-transform: rotate($angle);
  -ms-transform: rotate($angle);
  transform: rotate($angle);
}

// transform origin
@mixin transform-origin($origin_values) {
  -webkit-transform-origin: $origin_values;
  -moz-transform-origin: $origin_values;
  -ms-transform-origin: $origin_values;
  transform-origin: $origin_values;
}


/* Day 1: Hello World */

#block-1 {
  background: linear-gradient(to top, $start-color, $end-color) no-repeat;
}

.block-hello__speechbubble {
  min-width: 450px;
  height: 120px;
  line-height: 120px;
  background: $white;
  border-radius: 100px;
  border: 10px;
  cursor: pointer;
  filter: drop-shadow(3px 7px 0px $grey-light);
  animation: widthpop 2s ease-out;
}

// completed speech bubble
.block-hello__speechbubble:after,
.block-hello__speechbubble:before{
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 25px solid #fff;
  content: "";
  top: 120px;
  position: absolute;
  left: 100px;
  right: 0;
  margin: auto;
  animation: move 0.8s ease;
}

// speech bubble before transition
.block-hello__speechbubble:before {
  top: 120px;
  border-left: 22px solid transparent;
  border-right: 22px solid transparent;
  border-top: 24px solid #fff;
}

.block-hello__text {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.75rem;
  line-height: 2rem;
  text-align: center;
  //vertical-align: middle;
  filter: drop-shadow(2px 7px 0px $grey-light);
  //@include text-gradient($start-color, $end-color);
  @include text-background('../assets/img/bg_purple.jpg');
  /* animate fade in*/
  opacity: 0;
  animation: fadein 2s 0.8s forwards;
  /* animate moving background */
  //animation: bgmoving 10s infinite ease-in;
}

.block-hello__icon {
  display: inline-block;
  width: 60px;
  margin-left: 1rem;
  vertical-align: bottom;
}

.em {
  font-size: 2rem;
}

.em-spock-hand,
.em-hand {
  animation: handwave 1s infinite alternate ease-out;
  @include transform-origin(50% 100%);
}

// switch icons when hover on speech bubble
.block-hello__speechbubble:hover .em-hand,
.block-hello__speechbubble .em-spock-hand {
  display: none;
}

.block-hello__speechbubble:hover .em-spock-hand {
  display: inline-block;
}

/* Keyframes */

// hand wave animation
@keyframes handwave {
  0% {
    // rotate hand down
    @include rotate-hand(-30deg);
  }
  100% {
    // rotate hand down
    @include rotate-hand(10deg);
  }
}

// fade in
@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

// background moving
@keyframes bgmoving {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 100% 0;
  }
}

// width pop 
@keyframes widthpop {
  0% {
    transform: scaleX(0.2)
  }
  40% {
    transform: scaleX(1.5)
  }
  100% {
    transform: scaleX(1)
  }
}

// moves the speech bubble tooltip
@keyframes movetooltip {
  0% {
    top: 50px;
    left: -10px;
  }
  50% {
    left: 50px;
  }
  100% {
    left: 100px;
  }
}