
// Pokeball Variables
$pokeballSize: 200px;
$pokeballInnerSize: 80px;
$pokeballBorderSize: 15px;
$pokeballInnerBorderSize: 4px;
$black: black;
$red: #ea0623;
$white: white;


// Sky Variables
$beige: #fffaf0;
$sky: linear-gradient(to bottom, #020107 0%, #201b46 40%);
$skyRadius: 600px;
$star1ScrollDuration: 100s;
$star2ScrollDuration: 125s;
$star3ScrollDuration: 175s;
$starStartOffset: 500px;
$star1Size: 1px;
$star2Size: 2px;
$star3Size: 3px;
$star1Count: 800;
$star2Count: 700;
$star3Count: 300;

/* Day 2: Pokeball */
#block-2 {
  background: $beige;
  min-height: 430px;
}

.circle-container {
  position: absolute;
  overflow: hidden;
  width: 400px;
  height: 400px;
  border-radius: 100%;
  background: $sky;
}


