/* Day 2 Pokeball 
 * Credit https://codepen.io/acupoftee/pen/pGgrgo
 */

// Pokeball Variables
$pokeball-size: 200px;
$pokeball-size-inner: 60px;
$pokeball-border-size: 15px;
$pokeball-border-size-inner: 4px;
$black: black;
$red: #ea0623;
$white: white;

// Sky Variables
$pokeball-bg: #fffaf0;
$pokeball-sky: linear-gradient(to bottom, #020107 0%, #201b46 40%);

// Grass Variables
$grass-back-color: #01636f;
$grass-middle-color: #3295ac;
$grass-front-color: #203a43;
$grass-blade-height: 300px;
$grass-blade-border-radius: 100px;

// Star Variables
$sky-radius: 600px;
$star-scroll-duration-1: 100s;
$star-scroll-duration-2: 125s;
$star-scroll-duration-3: 175s;
$star-start-offset: 500px;
$star-size-1: 1px;
$star-size-2: 2px;
$star-size-3: 3px;
$star-count-1: 800;
$star-count-2: 700;
$star-count-3: 300;

// Shooting Star Variables
$shooting-star-duration: 3s;
$shooting-star-color-start: rgba(95, 145, 255, 1);
$shooting-star-color-end: rgba(0, 0, 255, 0);
$shooting-star-size: 2px;


/* Day 2: Pokeball */
#block-2 {
  background: $pokeball-bg;
  min-height: 430px;
  *, 
  ::after, 
  ::before{
    box-sizing: content-box;
  }
}

.block__container--circle {
  position: absolute;
  overflow: hidden;
  width: 400px;
  height: 400px;
  border-radius: 100%;
  background: $pokeball-sky;
}

// helper class
.relative-center {
  position: relative;
  top: 0;
  bottom: 0;
  margin: auto;
  transform: translate(-50%, -50%);
}

// pokeball styles
.block-pokeball {  
  width: $pokeball-size;
  height: $pokeball-size;
  border-radius: 100%;
  border: $pokeball-border-size solid $black;
  top: 105px;
  z-index: 2;
  overflow: hidden;
  background: $white;
  box-shadow: inset -10px 0 0 10px #ccc;
  &:before,
  &:after {
    content: "";
    position: absolute;
  }
  // render red part first
  &:before {
    background: $red;
    width: 100%;
    height: 50%;
  }
  // render black bar after
  &:after {
    background: $black;
    top: calc(50% - 10px);
    width: 100%;
    height: 20px;
  }
}

// pokeball center button/ring
.block-pokeball__button,
.block-pokeball__ring {
  position: absolute;
  width: $pokeball-size-inner;
  height: $pokeball-size-inner;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);  
  background: $white;
  border: $pokeball-border-size solid $black;
  border-radius: 100%;
  z-index: 3;
  animation: blink 0.2s alternate 19 0.2s, glowing 1s ease-in-out 5s;
}

.block-pokeball__ring {
  width: 45px;
  height: 45px;
  border: $pokeball-border-size-inner solid $black;
}

// light reflections
.block-pokeball__shine,
.block-pokeball__shine-small {
  position: absolute;
  height: 10px;
  width: 30px;
  border-radius: 200px;
  background: #fff;
  opacity: 0.5;
  left: 30px;
  top: 25px;
  transform: rotate(-44deg);
}

.block-pokeball__shine-small {
  width: 10px;
  left: 18px;
  top: 50px;
}

// pokeball animation
.animate {
  animation: fall 0.6s ease-in-out, sway 2s ease-in-out infinite;
  transform-origin: bottom center;
  transition: all 0.5s ease;
}


/* Grass */
// grass in the back
.block-pokeball__grass-back {
  position: absolute;
  width: 400px;
  .block-pokeball__grass-back-blade {
    position: absolute;
    background: $grass-back-color;
    z-index: 2;
    &:nth-child(1) {
      height: $grass-blade-height;
      width: 38px;
      top: 185px;
      left: -1px;
      border-top-right-radius: $grass-blade-border-radius;
    }
    &:nth-child(2) {
      left: 34px;
      width: 24px;
      height: $grass-blade-height;
      top: 190px;
      border-top-left-radius: $grass-blade-border-radius;
    }
    &:nth-child(3) {
      left: 56px;
      width: 37px;
      height: $grass-blade-height;
      top: 210px;
      border-top-right-radius: $grass-blade-border-radius;
    }
    &:nth-child(4) {
      left: 89px;
      width: 17px;
      height: $grass-blade-height;
      top: 210px;
      border-top-left-radius: $grass-blade-border-radius;
    }
    &:nth-child(5) {
      left: 104px;
      width: 43px;
      height: $grass-blade-height;
      top: 200px;
      border-top-right-radius: $grass-blade-border-radius;
    }
    &:nth-child(6) {
      left: 270px;
      width: 47px;
      height: $grass-blade-height;
      top: 180px;
      border-top-left-radius: $grass-blade-border-radius;
    }
    &:nth-child(7) {
      left: 315px;
      width: 27px;
      height: $grass-blade-height;
      top: 200px;
      border-top-right-radius: $grass-blade-border-radius;
    }
    &:nth-child(8) {
      left: 340px;
      width: 27px;
      height: $grass-blade-height;
      top: 190px;
      border-top-left-radius: $grass-blade-border-radius;
    }
    &:nth-child(9) {
      left: 365px;
      width: 40px;
      height: $grass-blade-height;
      top: 180px;
      border-top-left-radius: $grass-blade-border-radius;
    }
    &:nth-child(10) {
      left: 140px;
      width: 50px;
      height: $grass-blade-height;
      top: 210px;
      border-top-right-radius: $grass-blade-border-radius;
    }
    &:nth-child(11) {
      left: 180px;
      width: 40px;
      height: $grass-blade-height;
      top: 205px;
      border-top-left-radius: $grass-blade-border-radius;
    }
    &:nth-child(12) {
      left: 210px;
      width: 40px;
      height: $grass-blade-height;
      top: 215px;
      border-top-right-radius: $grass-blade-border-radius;
    }
    &:nth-child(13) {
      left: 220px;
      width: 40px;
      height: $grass-blade-height;
      top: 205px;
      border-top-left-radius: $grass-blade-border-radius;
    }
    &:nth-child(14) {
      left: 255px;
      width: 25px;
      height: $grass-blade-height;
      top: 195px;
      border-top-left-radius: $grass-blade-border-radius;
    }
  }
}

// grass in the middle
.block-pokeball__grass-middle {
  position: absolute;
  width: 400px;
  .block-pokeball__grass-middle-blade {
    position: absolute;
    background: $grass-middle-color;
    z-index: 2;
    &:nth-child(1) {
      height: $grass-blade-height;
      width: 45px;
      top: 215px;
      left: -1px;
      border-top-right-radius: $grass-blade-border-radius;
    }
    &:nth-child(2) {
      left: 40px;
      width: 30px;
      height: $grass-blade-height;
      top: 205px;
      border-top-right-radius: $grass-blade-border-radius;
    }
    &:nth-child(3) {
      left: 66px;
      width: 24px;
      height: $grass-blade-height;
      top: 230px;
      border-top-left-radius: $grass-blade-border-radius;
    }
    &:nth-child(4) {
      left: 89px;
      width: 35px;
      height: $grass-blade-height;
      top: 230px;
      border-top-left-radius: $grass-blade-border-radius;
    }
    &:nth-child(5) {
      left: 115px;
      width: 50px;
      height: $grass-blade-height;
      top: 220px;
      border-top-left-radius: $grass-blade-border-radius;
    }
    &:nth-child(6) {
      left: 280px;
      width: 50px;
      height: $grass-blade-height;
      top: 210px;
      border-top-left-radius: $grass-blade-border-radius;
    }
    &:nth-child(7) {
      left: 320px;
      width: 35px;
      height: $grass-blade-height;
      top: 210px;
      border-top-left-radius: $grass-blade-border-radius;
    }
    &:nth-child(8) {
      left: 350px;
      width: 20px;
      height: $grass-blade-height;
      top: 220px;
      border-top-right-radius: $grass-blade-border-radius;
    }
    &:nth-child(9) {
      left: 360px;
      width: 40px;
      height: $grass-blade-height;
      top: 210px;
      border-top-left-radius: $grass-blade-border-radius;
    }
    &:nth-child(10) {
      left: 260px;
      width: 40px;
      height: $grass-blade-height;
      top: 210px;
      border-top-right-radius: $grass-blade-border-radius;
    }
    &:nth-child(11) {
      left: 240px;
      width: 40px;
      height: $grass-blade-height;
      top: 220px;
      border-top-left-radius: $grass-blade-border-radius;
    }
    &:nth-child(12) {
      left: 220px;
      width: 40px;
      height: $grass-blade-height;
      top: 230px;
      border-top-right-radius: $grass-blade-border-radius;
    }
    &:nth-child(13) {
      left: 200px;
      width: 30px;
      height: $grass-blade-height;
      top: 240px;
      border-top-right-radius: $grass-blade-border-radius;
    }
    &:nth-child(14) {
      left: 160px;
      width: 45px;
      height: $grass-blade-height;
      top: 240px;
      border-top-right-radius: $grass-blade-border-radius;
    }
  }
}

// grass in the front
.block-pokeball__grass-front {
  position: absolute;
  width: 400px;
  .block-pokeball__grass-front-blade {
    position: absolute;
    background: $grass-front-color;
    z-index: 3;
    &:nth-child(1) {
      height: $grass-blade-height;
      width: 20px;
      top: 230px;
      left: -1px;
      border-top-right-radius: $grass-blade-border-radius;
    }
    &:nth-child(2) {
      height: $grass-blade-height;
      width: 20px;
      top: 250px;
      left: 15px;
      border-top-left-radius: $grass-blade-border-radius;
    }
    &:nth-child(3) {
      height: $grass-blade-height;
      width: 35px;
      top: 240px;
      left: 30px;
      border-top-right-radius: $grass-blade-border-radius;
    }
    &:nth-child(4) {
      height: $grass-blade-height;
      top: 250px;
      width: 35px;
      left: 60px;
      border-top-left-radius: $grass-blade-border-radius;
    }
    &:nth-child(5) {
      height: $grass-blade-height;
      top: 265px;
      width: 40px;
      left: 90px;
      border-top-right-radius: $grass-blade-border-radius;
    }
    &:nth-child(6) {
      height: $grass-blade-height;
      top: 280px;
      width: 20px;
      left: 115px;
      border-top-left-radius: $grass-blade-border-radius;
    }
    &:nth-child(7) {
      height: $grass-blade-height;
      top: 275px;
      width: 40px;
      left: 130px;
      border-top-left-radius: $grass-blade-border-radius;
    }
    &:nth-child(8) {
      height: $grass-blade-height;
      top: 300px;
      width: 20px;
      left: 160px;
      border-top-left-radius: $grass-blade-border-radius;
    }
    &:nth-child(9) {
      height: $grass-blade-height;
      top: 295px;
      width: 40px;
      left: 175px;
      border-top-right-radius: $grass-blade-border-radius;
    }
    &:nth-child(10) {
      height: $grass-blade-height;
      top: 300px;
      width: 15px;
      left: 210px;
      border-top-left-radius: $grass-blade-border-radius;
    }
    &:nth-child(11) {
      height: $grass-blade-height;
      top: 305px;
      width: 30px;
      left: 220px;
      border-top-left-radius: $grass-blade-border-radius;
    }
    &:nth-child(12) {
      height: $grass-blade-height;
      top: 300px;
      width: 45px;
      left: 240px;
      border-top-right-radius: $grass-blade-border-radius;
    }
    &:nth-child(13) {
      height: $grass-blade-height;
      top: 280px;
      width: 30px;
      left: 260px;
      border-top-left-radius: $grass-blade-border-radius;
    }
    &:nth-child(14) {
      height: $grass-blade-height;
      top: 280px;
      width: 20px;
      left: 285px;
      border-top-left-radius: $grass-blade-border-radius;
    }
    &:nth-child(15) {
      height: $grass-blade-height;
      top: 270px;
      width: 40px;
      left: 300px;
      border-top-right-radius: $grass-blade-border-radius;
    }
    &:nth-child(16) {
      height: $grass-blade-height;
      top: 250px;
      width: 40px;
      left: 320px;
      border-top-left-radius: $grass-blade-border-radius;
    }
    &:nth-child(17) {
      height: $grass-blade-height;
      top: 240px;
      width: 20px;
      left: 350px;
      border-top-right-radius: $grass-blade-border-radius;
    }
    &:nth-child(18) {
      height: $grass-blade-height;
      top: 250px;
      width: 45px;
      left: 350px;
      border-top-left-radius: $grass-blade-border-radius;
    }
  }
}


/* Keyframes */
// blinking animation because we caught a pokemon!
@keyframes blink {
  from {
    background: #e74c3c;
    box-shadow: 0px 0px 30px #e74c3c;
  }
  to {
    background: $white;
  }
}
// glowing animation, because it's ours!
@keyframes glowing {
  50% {
    box-shadow: 0px 0px 60px #fff;
    border-color: #595959;
  }
}

// fall anination with bounces
@keyframes fall {
  0% {
    top: -110px;
  }
  35% {
    top: 105px;
  }
  50% {
    top: 70px;
  }
  65% {
    top: 105px;
  }
  85% {
    top: 85px;
  }
  100% {
    top: 105px;
  }
}
// pokeball sway keyframes
@keyframes sway {
  0% {
    left: -2%;
    transform: rotate(-10deg);
  }
  50% {
    left: 5%;
    transform: rotate(10deg);
  }
  100% {
    left: -2%;
    transform: rotate(-10deg);
  }
}

/* Stars */

// Generates star field
@function create-stars($n, $w, $h) {
  $stars: "#{random($w)}vh #{random($h)}vh #FFF";
  @for $i from 2 through $n {
    $stars: "#{$stars} , #{random($w)}vh #{random($h)}vh #FFF";
  }
  @return unquote($stars);
}

@mixin star-template($start-count, $star-size, $scroll-speed) {
  z-index: 1;
  width: $star-size;
  height: $star-size;
  border-radius: 50%;
  box-shadow: create-stars($start-count, $sky-radius, $sky-radius - 100);
  animation: star-animation $scroll-speed linear infinite;
  &:after {
    content: " ";
    top: -$star-start-offset;
    width: $star-size;
    height: $star-size;
    border-radius: 50%;
    position: absolute;
    box-shadow: create-stars($start-count, $sky-radius*0.5, $sky-radius*0.8);
  }
}

// star animations
@keyframes star-animation {
  0% {
    transform: rotate(-20deg) translateX(-$sky-radius);
  }
  100% {
    transform: rotate(-20deg) translateX($sky-radius);
  }
}

.block__star-group-1 {
  @include star-template($star-count-1, $star-size-1, $star-scroll-duration-1);
}
.block__star-group-2 {
  @include star-template($star-count-2, $star-size-2, $star-scroll-duration-2);
}
.block__star-group-3 {
  @include star-template($star-count-3, $star-size-3, $star-scroll-duration-3);
}

/* Shooting Stars */
.block__shooting-stars-container {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-60%) rotate(20deg);  
}
.block__shooting-stars {
  position: absolute;
  left: 25%;
  top: 12%;
  transform: rotateZ(45deg);
  width: $shooting-star-size;
  height: $shooting-star-size;
  background: linear-gradient(-45deg, $shooting-star-color-start, $shooting-star-color-end);
  border-radius: 999px;
  filter: drop-shadow(0 0 6px rgba(105, 155, 255, 1));  
  animation: shooting-star-tail $shooting-star-duration ease-in-out infinite,     shooting-star-shooting $shooting-star-duration ease-in-out infinite;
}

@keyframes shooting-star-tail {
  0% {
    width: 0;
  }
  
  30% {
    width: 100px;
  }
  
  100% {
    width: 0;
    opacity: 0;
  }
}

@keyframes shooting-star-shooting {
  0% {
    transform: translateX(0);
  }
  
  100% {
    transform: translateX(230px);
  }
}